version: "3.9"

services:
  backend:
    build: ./backend
    container_name: house-price-backend
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build: ./frontend
    container_name: house-price-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always
